@use "./variables.scss" as *;

// Полная ликвидация внутреннего скроллбара папок Кварца
#explorer-content {
  max-height: none !important;
  height: auto !important;
  overflow: visible !important;
}

div.explorer-content {
  max-height: none !important;
  height: auto !important;
  overflow: visible !important;
}

// Прячем системный серый ползунок прокрутки для всех браузеров
#explorer-content::-webkit-scrollbar,
div.explorer-content::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
